# List and its default functions

In [4]:
lst=["T.AK",30,455,3.45,[1,3,5]]

In [5]:
lst

['T.AK', 30, 455, 3.45, [1, 3, 5]]

In [6]:
lst[0]

'T.AK'

In [7]:
lst[4][2]

5

In [10]:
lst[4]

[1, 3, 5]

In [11]:
lst.append("karthik")

In [12]:
lst

['T.AK', 30, 455, 3.45, [1, 3, 5], 'karthik']

In [14]:
lst.index(3.45)

3

In [17]:
lst[-1]

'karthik'

In [60]:
lst.clear()

In [62]:
lst

[]

In [66]:
lst.copy()

[]

# Dictionaries and its default types

In [29]:
dit={"name":"Abhilash", "age":"20", "mobile":"2930309", "email":"ahbiljjd@gmail.com"}

In [30]:
dit

{'name': 'Abhilash',
 'age': '20',
 'mobile': '2930309',
 'email': 'ahbiljjd@gmail.com'}

In [31]:
dit.get('name')

'Abhilash'

In [32]:
dit.get('email')

'ahbiljjd@gmail.com'

In [33]:
dit.pop('name')

'Abhilash'

In [34]:
dit

{'age': '20', 'mobile': '2930309', 'email': 'ahbiljjd@gmail.com'}

In [39]:
dit["school"]="aka"

In [40]:
dit

{'age': '20',
 'mobile': '2930309',
 'email': 'ahbiljjd@gmail.com',
 'school': 'aka'}

In [67]:
dit.items()

dict_items([('age', '20'), ('mobile', '2930309'), ('email', 'ahbiljjd@gmail.com'), ('school', 'aka')])

In [68]:
dit.popitem()

('school', 'aka')

In [69]:
dit

{'age': '20', 'mobile': '2930309', 'email': 'ahbiljjd@gmail.com'}

In [71]:
dit.setdefault(2)

In [72]:
dit

{'age': '20', 'mobile': '2930309', 'email': 'ahbiljjd@gmail.com', 2: None}

# Sets and its default functions

In [41]:
st={"tak","letsupgrade",1,2,2,3,3,3,4,5,6,6,5,4}

In [42]:
st

{1, 2, 3, 4, 5, 6, 'letsupgrade', 'tak'}

In [43]:
st1={"tak",1}

In [44]:
st1.issubset(st)

True

In [45]:
st1={"tka",1}

In [46]:
st1.issubset(st)

False

In [73]:
st.difference_update()

In [74]:
st

{1, 2, 3, 4, 5, 6, 'letsupgrade', 'tak'}

In [77]:
st1.discard(3)

In [78]:
st1

{1, 'tka'}

In [79]:
st.intersection()

{1, 2, 3, 4, 5, 6, 'letsupgrade', 'tak'}

# Tuples and its default functions

In [51]:
tup=("tak","@","tak.in")

In [52]:
tup

('tak', '@', 'tak.in')

In [54]:
tup.count("@")

1

In [55]:
tup.index("tak.in")

2

#  Strings and its default types

In [86]:
name="Abhilash karthik"
name1="Parker"

In [87]:
name1

'Parker'

In [88]:
name

'Abhilash karthik'

In [89]:
name+name1

'Abhilash karthikParker'

In [90]:
name+" "+name1

'Abhilash karthik Parker'

In [91]:
name.capitalize()

'Abhilash karthik'

In [92]:
name.casefold()

'abhilash karthik'

In [97]:
name.center(0)

'Abhilash karthik'

In [98]:
name1.format()

'Parker'